<html>
   <head>
      <meta charset="UTF-8">
      <title>Login</title>
      <link rel="icon" href="{{ url_for('static', filename='images/icon.svg') }}" >
      <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-up-in.css') }}" >
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="center container-fluid">
         <h1>Login</h1><hr>
         <form action="/login" method="post" class="login-form">
            <input class="login" type="text" name="login" placeholder="Login"/>
            <input class="password" type="password" name="password" placeholder="Password"/>
            <label class="error-label" for="confirm-password" id="post-status-error"></label>
            <input class="submit-button" type="submit" value="Sign in"/>
         </form>
         <p>Do not have an account? Create an account! <a href="/register" title="Go to the login page">Sign up</a></p>
      <div>
   </body>
</html>

<script>
    if (window.history.replaceState) {
        window.history.replaceState( null, null, window.location.href );
    }

    let error_message = '{{ error_message }}';
    console.log(error_message);
    if (error_message.length != 0) {
       $(".submit-button").attr("style", "margin-top: 2px !important;");
       $("#post-status-error").text(error_message);
       $("#post-status-error").css("display", "block");
    }
 </script>